# build output
dist/
.output/

# astro
.astro/

# dependencies
node_modules/

# cloudflare
.wrangler/

# env / secrets
.env
.env.production
.dev.vars

# logs
npm-debug.log*
*.log

# os / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
